@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500,600,700,800,900&display=swap');

@font-face{
    font-family: Avenger;
    src: url(fonts/letra2.ttf ) format("truetype");

}
body {
    margin: 0%;
    padding: 0%;
    color: beige ;
    width: auto;
    height: auto;
    background-image: url("img/estellas.jpg");
  padding: 180px 0;
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
    font-family: 'Darker Grotesque', sans-serif;
    background-repeat: no-repat;
}

video-container {
    margin: 10px;
}

p{
    margin:20px 0px;
    

}
.icon-right-open,
.icon-left-open {
    border: none
}
nav{
    font-family: Avenger;
}
